.category-filter {
  min-width: 180px
  background-color: white;
  border-radius: 12px;
}

.category-filter .MuiOutlinedInput-root {
  border-radius: 12px;
}

.category-filter .MuiInputLabel-root {
  transform: translate(14px, 14px) scale(1);
  color: #FF6B81;
}

.category-filter .MuiInputLabel-root.Mui-focused {
  transform: translate(14px, -9px) scale(0.75);
  color: #FF6B81;
}

.category-filter .MuiInputLabel-shrink {
  transform: translate(14px, -9px) scale(0.75);
}

.category-filter .MuiSelect-select {
  color: #2E4053;
}

.category-filter .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 107, 129, 0.3);
}

.category-filter .MuiSvgIcon-root {
  color: #FF6B81;
}

@media (max-width: 600px) {
  .category-filter {
    width: 100%;
  }
}
